$primaryColor: #46b20f;
$secondaryColor: #ff6916;
$font: "Inter", sans-serif;
$fontSize: 1.6rem;
$textColor: #2c2c2c;
$linkColor: #2c2c2c;

$secondaryFontSize: 1.3rem;

$menuBg1: #b7b7b7;
$menuBg2: #46b20f;
$menuClr: #fff;
$menuHover: #ff9800;

$sectionBg1: #fff0e7;
$sectionBg2: #dcffca;
$sectionBg3: #f2ffec;
$sectionBg4: #FFD5BD;
$sectionItem: #fff; //background
$sectionBorder: #a3a3a3;
$sectionText: #a3a3a3;
$sectionFontSize: 2rem;

$introText: #216000;

$productBg1: #ffba94;
$productBg2: #c5ffa8;
$productText: #656565;

$securityClr: #e05000;

$contentText: #fff;

$inputBg: #fff;
$inputClr: #46b20f;
$inputBd: #46b20f;

$footerBg1: #f2ffec;
$footerBg2: #dcffca;
$footerBorder: #a3a3a3;

//btn
//Default
$btnClr: #fff;
$btnBg: #46b20f;
$btnBg2: #fff;
$btnBd: #46b20f;
//Disable
$btnHoverClr: #fff;
$btnDisable: #B7B7B7;
//Button hover
$btnHoverBg: #FF6916;
$btnClickBg: #E05000;
//More hover
$btnHoverBg2: #46B20F;
$btnClick2: #2E8900;