footer {
    padding-top: 66.67px;
    h5 {
        font-size: $fontSize;
        font-weight: 600;
        line-height: 1.21;
    }
    a {
        font-size: $fontSize;
        font-weight: 400;
        line-height: 1.204;
        font-weight: 400;
    }
    span {
        @extend a;
    }
}
.footer {
    background-color: $footerBg1;
    &-up {
        .row {
            justify-content: flex-end;
            padding-right: 40px;

            [class^="col-"] {
                min-width: 260px;
            }
        }
    }
    &-title {
        width: 191.667px;
        margin-left: auto;
        margin-right: 40px;
    }
    &-logo {
        width: 128px;
        a {
            scroll-behavior: smooth;
        }
    }
    &-content {
        width: 230px;
        min-width: 230px;
    }
    &-text {
        margin-top: 20px;
        font-size: 1.3rem;

        span {
            font-size: $fontSize;
        }
        
    }
    &-content__title {
        color: $primaryColor;
    }
    &-list {
        margin-top: 12px;
    }
    &-list__wrap {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        }
    &-list__item {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        span {
            font-weight: 600;
        }
        p {
            width: 95%;
        }
    }
    &-iconUp {
        min-width: 20px;
        min-height: 20px;
        vertical-align: middle;
        margin-left: 0;
        height: 100%;
    }
    &-down {
        margin-top: 72.5px;
    }
    &-divider {
        width: 100%;
        height: 0px;
        border-bottom: 1.667px solid $footerBorder;
    }
    &-down__wrap {
        margin-top: 24.17px;
        margin-bottom: 26.67px;
        .row {
            @extend .align-items-center;
        }
    }
    &-down__img {
        max-width: 174.167px;
        height: auto;
    }
    &-down__icon {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 6.67px;

        a {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $footerBg2;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 22.4px;
                height: 22.4px;
            }
        }
    }
}

// <========== Responsive ==========>

@media screen and (max-width: #{map-get($breakpoints, 'xxl')}px) {
}

@media screen and (max-width: #{map-get($breakpoints, 'xl')}px) {
    .footer {
        &-up {
            .row {
                padding-right: 0px;
                row-gap: 0px;
                justify-content: space-between;
            }
        }
        &-title {
            width: auto;
            margin-right: 0px;
            margin-left: 0;
        }
    }
}
@media screen and (max-width: #{map-get($breakpoints, 'lg')}px) {
    .footer {
        &-up {
            .row {
                justify-content: center;
            }
        } 
        &-content {
            margin-top: 30px;
        }
        &-text {
            span {
                display: block;
            }
        }
    }
}

@media screen and (max-width: #{map-get($breakpoints, 'md')}px) {

}
@media screen and (max-width: #{map-get($breakpoints, 'sm')}px) {
    .footer {
        &-up {
            .row {
                margin-left: 5px;
                justify-content: flex-start;
            }
        }
        &-down__icon {
            a {
                width: 30px;
                height: 30px;

                img {
                    width: 18.4px;
                    height: 18.4px;
                }
            }
        }
    }
}










