.caption {
    text-align: left;
    background-color: $sectionBg3;
    margin-bottom: 50px;
    &-title {
        margin: 7.5px 0 7.17px;
    }
}

// <========== Responsive ==========>

@media screen and (max-width: #{map-get($breakpoints, 'xxl')}px) {
}
@media screen and (max-width: #{map-get($breakpoints, 'xl')}px) {
    .caption {
        padding: 35px 0;
        &-title {
            font-size: 3.5rem;
        }
    }
}
@media screen and (max-width: #{map-get($breakpoints, 'lg')}px) {
}
@media screen and (max-width: #{map-get($breakpoints, 'md')}px) {
}
@media screen and (max-width: #{map-get($breakpoints, 'sm')}px) {
}