// Main
.btn-product {
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    &:hover {
        background-color: $btnHoverBg;
    }
    &:focus {
        background-color: $btnClickBg;
    }
}
.more-link {
    transition-property: background-color, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    &:hover {
        background-color: $btnHoverBg2;
        color: $btnClr;
    }
    &:focus {
        background-color: $btnClick2;
        color: $btnClr;
    }
}
.news-item_img {
    img {
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        &.active {
            transform: scale(1.2);
        }
        &:hover {
            @extend .active;
        }
        &:focus {
            @extend .active;
        }
    }
}
.security-item__img {
    img {
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        &.active {
            transform: scale(1.2);
        }
        &:hover {
            @extend .active;
        }
        &:focus {
            @extend .active;
        }
    }
}
.input-box {
    input {
        transition-property: border-color;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        &.active {
            border-color: $inputBd;
            + label {
                font-size: 1rem;
                top: 0;
                color: $inputClr;
            }
        }
        &:focus {
            @extend .active;
        }
        &:not(:placeholder-shown) {
            @extend .active;
        }
    }
    label {
        transition-property: font-size, top, color;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }
}
.btn-contact {
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    &:hover {
        background-color: $btnHoverBg;
    }
    &:focus {
        background-color: $btnClickBg;
    }
}